/* ===== Blog cards ===== */
.blog-card{
    height: var(--blogCardHeight);
}
.blog-card .contain-image,.wide-blog-card .contain-image{
    height: 90%;
    width: 100%;
}
.product-card .contain-image{
    width: 40%;
}

.blog-card > div{
    height: 50%;
}
.wide-blog-card .overflow-hidden{
    position: relative;
    height: 180px;
}

.wide-blog-card .text{
    overflow: hidden;
    height: 90%;
    font-size: 1rem;
    margin-top: -10px;
}
.wide-blog-card .content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}


.big-card,.big-card a{
    color: var(--generalTextColor);
}
@media only screen and (min-width:900px){
    .small-card{width: calc(20% - 20px);}   
    .product-card{width: calc(25% - 20px);}
    .pc .sort-buttons{
        position: absolute;
        top:0px;
        right: 10px;
        z-index: 2;
    }
    .card:hover{
        padding:8px;
        margin:2px
    }
}
@media only screen and (max-width:899px){
    .small-card{width: calc(33% - 20px);}   
    
}
@media only screen and (max-width:599px){
    .small-card{width: calc(50% - 20px);}
    
}
@media only screen and (max-width:315px){
    .small-card{width: calc(100% - 20px);}
}
.wide-blog-card{
    width: calc(100% - 20px);
    height: 200px;
}
.big-card{
    width: 100%;
}