/* ===== Modal ===== */
#modal-background{
  position: fixed;
  top:0px;
  left: 0px;
  width:100vw;
  height:100vh;
  display: block;
  background-color: grey;
  opacity: 0.5;
  z-index: 3;
}

#modal-container .image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: auto; /* Maintain aspect ratio */
  max-width: 70vw;
}

@media only screen and (max-width:600px){ 
  #modal .image{
    width: 80vw;
  }
}
#modal-container.hide-modal{
  display: none;
}
