/* ===== Search ===== */
#search{
  display: flex;
  min-height: 30px;
  background-color: var(--otherBGColor);
}

#search-input{
  width: 200px;
  height: 30px;
  margin: 5px;
  
}
@media only screen and (min-width:900px){ 
  #search-container{
    width: var(--bodyMaxWidth);
  }
}
@media only screen and (max-width:899px){ 
  #search-container{
    width: 100%;
  }
}