/* ===== Product card ===== */

.product-card{
    width: 250px;
    height: 130px; 
    padding: 5px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    background-color: white;
    @media only screen and (max-width: 699px) {
        width: 100%;
        margin: 5px 0px;
    }  
    .image-container{
        height: 100%;
        width: 50%;
        
        .main-image-container,.secondary-image-container{
            margin: 2px;
            overflow: hidden; /* Hide overflow */
            position: relative; /* Necessary for absolute positioning */
            .image{
                /* Ensure the image fills its container */
                max-width: 100%;
                max-height: 100%;
                display: block; /* Remove any default inline spacing */
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);       
            }   
        }
        .secondary-image-container{
            width: 50%;
            display: none;
        }
        .main-image-container{
            width: 100%;
        }
        @media only screen and (max-width: 699px) {
            width: 80%;
            .main-image-container{
                width: 50%;
            }
            .secondary-image-container{
                width: 50%;
                display: inline;
            }
        }      
    }    
    .right{
        width: 50%;
        margin-left: 10px;
        .title{
            font-size: 14px;
        }
        .details{
            img,span{
                height: 15px;
                margin: 1px;
                font-size: 12px;
            }
        }
        h6{
            font-size: 0.8rem;
            margin-top:0;
            margin-bottom:5px;
        }
        @media only screen and (max-width: 699px) {
            width: 20%;
        }   
    }    
}
